
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto";
}

:root {
  --primary: #4582a3;
  --secundary: #b7d9eb;
  --btn: #fa7f08;
}

body {
  background-color: var(--secundary);
  /* position: relative; */
  /* padding-bottom: 6em; */
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
header {
  background-color: var(--primary);
}

h2 {
  color: darkblue;
  text-align: center;
}
h3 {
  color: darkblue;
  /*text-align: center;*/
  text-decoration: underline;
}
a {
  text-decoration: none;
}
form {
  width: 40%;
  margin: auto;
  display: flex;
  flex-direction: column;
}
form .input {
  border: 1px solid #4d4d4d;
  margin: 10px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
form input {
  padding: 10px;
  width: 100%;
  border: none;
  outline: none;
  background-color: #c1d9e6;
}
form .input img {
  width: 50px;
  background-color: #c1d9e6;
  padding: 2px;
  border-right: 1px solid grey;
}
form a {
  text-decoration: none;
  text-align: right;
  margin: 10px 0;
  color: #4e4e4e;
}
form button {
  margin: 10px 0;
  padding: 10px;
  text-align: center;
  background-color: var(--btn);
  border: none;
  color: white;
  border-radius: 12px;
}

.p-Importante {
  text-align: justify;
  font-weight: bold;
}
.p-masdetalles {
  text-align: right;
  font-weight: bold;
  color: darkblue;
  text-decoration: underline;
}
.contenedor {
  display: flex;
  flex-direction: row;

  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100px;
}
.botonera {
  justify-content: space-around;
}

.contenedor-productos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.contenedor-producto {
  width: 420px;
  display: flex;
  /* align-items: center; */
  /* flex-direction: row; */
  margin: 10px;
  border: 2px solid #369;
  border-radius: 5px;
}

.contenedor-producto img {
  width: 200px;
}

.contenedor-header {
  display: flex;
}

.contenedor-detalle-producto {
  display: flex;
  flex-direction: column;
  /* justify-content: space-evenly; */
  width: 180px;
  /* overflow-y: auto; */
  text-align: justify;
  padding: 15px 0;
}

.contenedor-detalle-producto h3 {
  font-size: 16px;
}

.contenedor-detalle-producto p {
  font-size: 14px;
}

.contenedor-producto-solo {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around !important;
  margin: 10px auto;
  border: 2px solid #369;
  border-radius: 5px;
}
.contenedor-detalle-producto-solo {
  display: flex;
  align-items: center;
}

.contenedor-detalle-producto-solo p {
  text-align: justify;
  font-size: 14px;
}

.contenedor-header-solo {
  display: flex;
  margin-right: 50px;
}

.eliminarbtn-seleccionado {
  padding: 10px;
  background-color: #fa7f08;
  color: white;
  border: none;
  border-radius: 12px;
  display: flex;
  align-items: center;
  width: 150px;
  margin: 0 15px;
}

.eliminarbtn-seleccionado img {
  width: 25px !important;
  margin-right: 8px;
}

.contenedor-carrito-producto {
  display: flex;
  flex-direction: column;
}

.contenedor-carrito-header {
  margin: auto;
  display: flex;
  align-items: center;
}

.contenedor-carrito-header p {
  color: #1bac1b;
  font-size: 25px;
  margin-left: 20px;
}

.contenedor-carrito-header input {
  width: 120px !important;
}

.contenedor-botones button {
  padding: 10px;
  width: 200px;
  margin: 5px;
  font-size: 16px;
}
/*NAVEGACION*/

/* nav {
       display: inline-block; 
    width: 840px;
      text-align:start;
}  */

nav ul {
  list-style-type: none;
}

nav li {
  display: inline-block;
  margin-right: 10px;
  /*margin-bottom: 10px; */
  font-size: 20px;
  color: white;

  padding-bottom: 5px 5px;
}

nav li:hover {
  color: blue;
}

.button {
  background-color: var(--btn);
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  padding: 2px 5px;
  font-size: 20px;
  margin-top: -30px;
  border-radius: 12px;
  margin-right: 10px;
}

/*Banner*/
.caja {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  background: #333944;
}
.box {
  width: 100%;
  height: 60px;
  background: #ccc;
  overflow: hidden;
}

.box img {
  width: 100%;
  height: auto;
}
@supports (object-fit: cover) {
  .box img {
    height: 100%;
    object-fit: cover;
    object-position: center center;
  }
}

ul {
  list-style-type: none;
}

div li {
  display: inline-block;
  margin-right: 10px;
  /*margin-bottom: 10px; */
  font-size: 20px;
  color: white;

  padding-bottom: 5px 5px;
}

div li:hover {
  color: blue;
}

input[type="number"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}
.logo {
  max-width: 100%;
  object-fit: cover;
}
.iconoNav {
  display: none;
}

.producto-seleccionado-header {
  margin: auto;
  width: 90%;
  display: flex;
  justify-content: space-between;
}

.producto-seleccionado {
  margin: auto;
  width: 90%;
  padding-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.left-producto {
  display: flex;
  align-items: center;
}

.producto-seleccionado .eliminarbtn {
  padding: 10px 10px;
  background-color: #fa7f08;
  color: white;
  border: none;
  border-radius: 12px;
  display: flex;
  align-items: center;
  margin-right: 5px;
}

.producto-seleccionado .eliminarbtn img {
  width: 20px;
  margin-right: 10px;
}

.producto-seleccionado img {
  width: 100px;
  /* margin-right: -10000px; */
}

.right-producto {
  display: flex;
  align-items: center;
}

.right-producto p {
  padding-left: 20px;
}

.right-producto input {
  width: 100px;
}

.sub-total {
  position: absolute;
  right: 65px;
  font-size: 20px;
  color: #0b8800;
}

@media screen and (max-width: 1000px) {
  .contenedor-producto {
    margin: 2px 20px;
    display: flex;
    align-items: center;
    /* justify-content: center; */
  }

  .contenedor-producto img {
    width: 200px;
  }

  form {
    width: 80%;
  }
}

@media screen and (max-width: 470px) {
  .contenedor-producto {
    font-size: 14px;
  }

  .contenedor-producto img {
    width: 120px;
  }
}

@media screen and (max-width: 1100px) {
  nav,
  .botonera {
    display: none;
  }

  .iconoNav {
    display: inline;
    width: 20%;
    text-align: center;
  }

  .iconoNav img {
    width: 50px;
  }

  .contenedor-producto {
    display: flex;
    flex-direction: column;
  }

  .contenedor-header {
    margin: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .contenedor-carrito-producto {
    margin-right: 0;
    width: 60%;
    text-align: center;
  }

  .contenedor-carrito-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .contenedor-carrito-header p {
    margin-right: 30px;
  }

  .contenedor-botones button {
    padding: 5px 10px;
    margin: 5px 0;
    font-size: 18px;
  }
}
/*Footer*/

article footer {
  background: url("./img/line.png") no-repeat top center;
  padding-bottom: 35px;
  text-align: left;
}

#my-pictures {
  display: inline-block;
  vertical-align: top;
  width: 55%;
}

#my-pictures img {
  border: 1px solid #131111;
  margin-right: 45px;
}

#picture2 {
  width: 800px;
  height: 150px;
  border: 3px solid #131111;
  margin-right: 5px;
}

#picture3 {
  display: inline-block;
  border-radius: 15px;
}

mark {
  color: #0a378b;
  /* color: #0aac5b;*/
}

footer {
  text-align: center;
  background-color: #4582a3;
}

.comunicacion {
  display: flex;
  justify-content: space-around;
  width: 80em;
}

.comunicacion p mark {
  text-align: center;
}

.logocomunicacion {
  display: flex;
}

.logocomunicacion p {
  margin-left: 15px;
  padding-top: 15px;
}

.iconos-redes img {
  display: inline-flex;
  margin: 15px 0px;
}
.wrapper {
  display: grid;
  gap: 1em;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}

